@model Zealous.Models.ProgressDetail
@{
    ViewBag.Title = "UpdateEventProgress";
}
@{ 
    //Get data for dropdown binding
    var data = Zealous.Models.EnumHelper.GetEventStatusView();
}

<h2>Update Event Progress</h2>

<div class="form-group">
    <form id="firstForm" method="post" asp-action="UpdateEventProgress" asp-controller="Tracking">
        <table>
            <tr>
                <td><h4>Current status for: @Model.EventName event</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DropDownListFor(x => Model.EventStatus, new SelectList(data, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "EventStatus" })</td>
                <td><input type="submit" value="Update" /></td>
            </tr>
            <tr>
                <td colspan="2">
                @if (ViewBag.Updated == true)
                {
                    <span style="color:green; font-weight:bold">Updated Successfully</span>
                }
                </td>
            </tr>
        </table>
        <input type="hidden" value="@Model.BookingId" name="BookingId" />
        <input type="hidden" value="@Model.EventId" name="EventId" />
    </form>
</div>

