@using Zealous.Models
@model Zealous.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Event Details</h2>
<style>
    /*.row {
        background-color: lightblue;
    }*/

    .row .row > div {
        border: solid 0px black;
        min-height: 200px;
    }

    .two-div {
        height: 400px;
    }

    .three-div {
        height: 600px;
    }
</style>
<div>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <h4>@Html.DisplayFor(model => model.EventName):</h4>
            <p>
                @Html.DisplayFor(model => model.Description)
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/image/@Model.Image" />
        </div>
    </div>

    <dl class="dl-horizontal">
        <dd>
        </dd>
        <dd>
            
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole(UserRole.Admin.ToString()))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        <span>|</span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
